<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-primary" (click)="openDialog()">Add Data</button>
    <div class="row">
      <div class="col-xl-12">
        <app-card cardTitle="Menu Items" [options]="false" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Restaurant</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of menuItems; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.name }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.categoryname }}</td>
                  <td>{{ item.restaurantname }}</td>
                  <td>{{ item.restaurantaddress }}</td>
                  <td>
                    <mat-icon matTooltipClass="custom-tooltip" class="green-icon" matTooltip="Edit Menu" (click)="updateDialog(item)">edit</mat-icon>
                    <mat-icon matTooltipClass="custom-tooltip" class="red-icon" matTooltip="Delete Menu" (click)="confirmDelete(item)"> delete </mat-icon>
                  </td>
                </tr>
                <tr *ngIf="menuItems.length === 0">
                  <td colspan="7" class="text-center">No menu items found</td>
                </tr>
              </tbody>
            </table>
            <mat-paginator 
            [length]="totalItems" 
            [pageSize]="pageSize" 
            [pageSizeOptions]="[5, 10, 20]" 
            (pageIndexChange)="onPageChange($event)" 
            showFirstLastButtons>
          </mat-paginator>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</div>
